@import '../Variables';

.section-about {
  padding: 5% 0 0 0;
  margin: 0 8%;
  text-align: justify;
  border-bottom: 2px solid var(--borderColor);

  .info-icon {
    margin: 0 5%;
  }

  .about-tittle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  @media screen and (min-width: $break-small) {
    padding: 4% 0 0 0;
    margin: 0 7%;

    .info-icon {
      margin: 0 4%;
    }
  }

  @media screen and (min-width: $break-large) {
    padding: 3% 0 0 0;
    margin: 0 7%;

    .info-icon {
      margin: 0 2%;
    }
    .about-tittle {
      font-size: 25px;
    }
  }

  @media screen and (min-width: $break-tablet) {
    padding: 2% 0 0 0;
    margin: 0 6%;
  }

  @media screen and (min-width: $break-desktop) {
    margin: 0 3% 0 8%;
  }

  @media screen and (min-width: $break-large-desktop) {

  }
}
