@import "../Variables";

.header {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;

  .nav {
    float: right;
    padding: 6% 5% 7% 5%;
    width: 50%;

    .lang-choose {
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      .lang-option {
        float: right;
        width: 25%;
        margin-right: 5%;

        .lang-ahref {
          text-decoration: none;
          transition: 0.3s;

          &:hover {
            opacity: 50%;
          }

          &:visited {
            color: black;
          }

          .lang-name {
            float: right;
            margin-left: 5%;
            color: var(--fontColor);
          }

          .lang-icon {
            float: right;
            margin-top: 10%;
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-small) {
    .nav {
      float: right;
      padding: 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .lang-option {
          float: right;
          width: 25%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-large) {
    .nav {
      float: right;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .lang-option {
          float: right;
          width: 25%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 6%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-tablet) {
    .nav {
      float: right;
      padding: 4.5% 5% 4.5% 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .switch-button {
          display: block;
          margin-top: 7px;
          margin-right: 5px;
        }

        .lang-option {
          float: right;
          width: 15%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-desktop) {
    .nav {
      float: right;
      padding: 4% 5% 4% 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .switch-button {
          margin-top: 0;
        }

        .lang-option {
          float: right;
          width: 10%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-large-desktop) {
    .nav {
      float: right;
      padding: 3.5% 5% 3% 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .switch-button {
          margin-top: 11px;
        }

        .lang-option {
          float: right;
          width: 10%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-xlarge-desktop) {
    .nav {
      float: right;
      padding: 3% 5% 3% 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .switch-button {
          margin-top: 6px !important;
          margin-right: 5px !important;
        }

        .lang-option {
          float: right;
          width: 8%;
          margin-right: 5%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $break-4K) {
    .nav {
      float: right;
      padding: 2.5% 5% 2.5% 5%;
      width: 40%;

      .lang-choose {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .switch-button {
          margin-top: 6px;
        }

        .lang-option {
          float: right;
          width: 8%;
          margin-right: 2%;

          .lang-ahref {
            text-decoration: none;

            .lang-icon {
              float: right;
              margin-top: 10%;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    .nav {

      .lang-choose {

        .switch-button {
          margin-right: 45px;
          margin-top: 11px;
        }
      }
    }
  }
  @media screen and (min-width: 1600px) {
    .nav {

      .lang-choose {

        .switch-button {
          margin-right: 95px;
          margin-top: 11px;
        }
      }
    }
  }
}
