@import "../Variables";

.projects {
  margin: 0 8%;
  padding-bottom: 3%;
  text-align: center;
  border-bottom: 2px solid var(--borderColor);

  .projects-link {
    text-decoration: none;
    color: var(--fontColor);

    .projects-title {
      font-weight: 700;
      font-size: 24px;
      margin: 2%;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #2CBFA4;
      }
    }
  }

  @media screen and (min-width: $break-small) {
    margin: 0 7%;
  }

  @media screen and (min-width: $break-tablet) {
    margin: 0 6%;
  }

  @media screen and (min-width: $break-desktop) {
    margin: 0 3% 0 8%;
  }
}
