@import '../Variables';

.li-switch {
  float: right;
  width: 15%;
  margin-right: 5%;

  .switch-button {
    display: none;

    input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 35px;
      height: 18px;
      background: darkgray;
      display: block;
      border-radius: 100px;
      position: relative;
    }

    label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: #2CBFA4;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 35px;
    }
  }

  @media screen and (min-width: $break-tablet) {
    .switch-button {
      display: block;
      position: absolute;
      top: 0.75%;
      right: 30%;
    }
  }
  @media screen and (min-width: $break-desktop) {
    .switch-button {
      top: 2.2%;
      right: 25%;
    }
  }

  @media screen and (min-width: $break-large-desktop) {
    .switch-button {
      top: 1.25%;
      right: 25%;
    }
  }

  @media screen and (min-width: $break-xlarge-desktop) {
    .switch-button {
      top: 1.25%;
      right: 32%;
    }
  }

  @media screen and (min-width: $break-4K) {
    .switch-button {
      top: 0.75%;
      right: 32%;
    }
  }
}